.resultAmount {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.resultTitle {
   font-size: var(--fz-small);
}
.resultAmountTitle {
   color: var(--white);
}
.resultPrice {
   color: var(--cyan);
}
@media(min-width: 767px) {
   .resultPrice {
      font-size: 32px;
   }
   .resultAmountTitle {
      font-size: 16px;
   }
   .resultAmountSubtitle {
      font-size: 12px;
   }
}