.attribution {
   font-size: 12px;
   text-align: center;
}
.dashboard {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1.5rem;
   padding: 4rem 0 1rem;
}
.dashboard__content {
   width: 100%;
   max-width: 900px;
   background-color: var(--white);
   border-radius: var(--radii-regular);
   padding: 1.25rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}
.dashboard__form {
   display: flex;
   flex-direction: column;
   gap: 2.5rem;
}

.dashboard__result {
   background-color: var(--cyan-500);
   border-radius: 10px;
   padding: 1.5rem 1rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 1.5rem;
}
.reset__btn {
   cursor: pointer;
   background-color: var(--cyan);
   color: var(--cyan-500);
   padding: 1rem 0;
   font-weight: var(--fw-bold);
   border-radius: var(--radii-small);
   font-size: 18px;
   line-height: 1;
   transition: all ease 0.3s;
}
.reset__btn:disabled {
   background-color: var(--cyan-400);
   color: var(--cyan-500);
   transition: all ease 0.3s;
}

@media (min-width: 767px) {
   .dashboard__content {
      flex-direction: row;
      gap: 0;
   }
   .dashboard__form,
   .dashboard__result {
      flex: 50%;
      padding: 2rem;
   }
   .dashboard__result-schedule {
      display: flex;
      flex-direction: column;
      gap: 3rem;
   }
}
