@import url(https://fonts.googleapis.com/css?family=Space+Mono:700);
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   /* colors */
   --white: hsl(0, 0%, 100%);
   --cyan-100: hsl(189, 41%, 97%);
   --cyan-200: hsl(185, 41%, 84%);
   --cyan-300: hsl(184, 14%, 56%);
   --cyan-400: hsl(186, 14%, 43%);
   --cyan-500: hsl(183, 100%, 15%);
   --cyan: hsl(172, 67%, 45%);
   /* typography */
   --family: "Space Mono", sans-serif;
   --fw-bold: 700;
   --fz-basic: 24px;
   --fz-small: 12px;
   --radii-regular: 1rem;
   --radii-small: 8px;
}
button {
   border: none;
}
input,
textarea {
   font-family: var(--family);
   text-align: right;
}
input {
   border-color: var(--cyan);
   border: none;
}
::-webkit-input-placeholder {
   color: var(--cyan-400);
   font-size: 18px;
   text-align: right;
}
body {
   font-family: var(--family);
   font-weight: var(--fw-bold);
   font-size: var(--fz-basic);
   background-color: var(--cyan-200);
   color: var(--cyan-400);
}
